@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Host Grotesk", "Host Grotesk Fallback", sans-serif;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-gray-50 text-gray-700 dark:bg-gray-900 dark:text-gray-200;
  }
  .site-section {
    @apply p-4 py-12 lg:py-24;
  }
  .site-section > .wrapper {
    @apply mx-auto max-w-4xl;
  }
}

@layer components {
  .btn {
    @apply shrink-0 inline-flex cursor-pointer w-fit items-center justify-center gap-2 rounded-xl border border-gray-300 bg-gray-200 px-4 py-3 font-bold text-gray-600 shadow-inner shadow-white transition-all hover:brightness-105 focus:outline-none focus:ring-4 focus:ring-gray-200 focus:ring-offset-2 focus:ring-offset-gray-50 active:scale-95 active:shadow-gray-300/80;
    @apply dark:border-gray-600 dark:bg-gray-700 dark:text-gray-200 dark:shadow-gray-600 dark:ring-offset-gray-950 dark:focus:ring-gray-600 dark:focus:ring-offset-gray-950 dark:active:shadow-gray-900;
    @apply transition-all;
  }

  .btn.secondary {
    @apply border-gray-700 bg-gray-700 text-gray-50 shadow-gray-400 focus:ring-gray-500 active:shadow-gray-700/60;
  }

  .btn.primary {
    @apply border-blue-600 bg-blue-500 text-blue-50 shadow-blue-400 focus:ring-blue-500 active:shadow-blue-700/60;
  }

  .btn.danger {
    @apply border-red-700 bg-red-600 text-red-50 shadow-red-400 focus:ring-red-500 active:shadow-red-700/60;
  }

  .btn.ghost {
    @apply border-transparent bg-transparent shadow-none focus:ring-transparent focus:ring-offset-transparent;
  }

  .btn:has(.icon:first-child) {
    @apply pl-2;
  }

  .btn:has(.icon:last-child) {
    @apply pr-3;
  }

  .btn:has(.icon:first-child + *:last-child) {
    @apply pr-3;
  }

  .btn.sm {
    @apply px-2 py-1.5 text-sm;
  }

  .btn.sm .icon {
    @apply h-4 w-4;
  }

  .btn.sm:has(.icon:first-child) {
    @apply pl-1.5;
  }

  .btn.sm:has(.icon:last-child) {
    @apply pr-1.5;
  }

  .btn.md {
    @apply px-3 py-2 text-base;
  }

  .btn.md .icon {
    @apply h-5 w-5;
  }

  .btn.md:has(.icon:first-child) {
    @apply pl-2;
  }

  .btn.md:has(.icon:last-child) {
    @apply pr-2;
  }

  .btn.lg {
    @apply px-6 py-3 text-xl;
  }

  .btn:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .btn-group {
    @apply inline-flex gap-0;
  }

  .btn-group > .btn {
    @apply rounded-none;
  }

  .btn-group > .btn:first-child {
    @apply rounded-l-xl;
  }

  .btn-group > .btn:last-child {
    @apply rounded-r-xl;
  }

  .tag {
    @apply inline-flex w-fit items-center justify-center gap-2 rounded-xl border border-gray-300 bg-gray-200 px-2.5 py-1.5 font-semibold text-gray-600 shadow-inner shadow-white transition-all hover:brightness-105 focus:outline-none focus:ring focus:ring-gray-200 focus:ring-offset-2 focus:ring-offset-gray-50 active:scale-95 active:shadow-gray-300/80;
    @apply dark:border-gray-600 dark:bg-gray-700 dark:text-gray-200 dark:shadow-gray-600 dark:ring-offset-gray-950 dark:focus:ring-gray-600 dark:focus:ring-offset-gray-950 dark:active:shadow-gray-900;
    @apply transition-all;
  }

  .tag.sm {
    @apply px-2 py-1 text-sm;
  }

  .tag.xs {
    @apply px-1.5 py-0.5 text-xs;
  }

  .tag.success {
    @apply bg-green-100 text-green-800 dark:bg-green-700 dark:text-green-200 border-green-200 dark:border-green-700;
  }

  .tag.warning {
    @apply bg-yellow-100 text-yellow-800 dark:bg-yellow-700 dark:text-yellow-200 border-yellow-200 dark:border-yellow-700;
  }

  .tag.danger {
    @apply bg-red-100 text-red-800 dark:bg-red-700 dark:text-red-200 border-red-200 dark:border-red-700;
  }

  .icon {
    @apply h-6 w-6 text-current;
  }

  .form-input {
    @apply relative w-full rounded-xl border border-gray-200 bg-gray-100 px-4 py-2 font-semibold text-gray-600 shadow-inner shadow-white focus-within:border-blue-500 focus-within:outline-none focus-within:ring focus-within:ring-blue-500  focus:border-blue-500 focus:outline-none focus:ring-4 focus:ring-offset-2 focus:ring-blue-300;
    @apply dark:border-gray-700 dark:bg-gray-800 dark:text-gray-200 dark:shadow-gray-700 dark:focus:ring-offset-gray-900;
    @apply transition-all;
  }

  .form-input:disabled {
    @apply cursor-not-allowed opacity-50;
  }

  .form-input::placeholder {
    @apply text-gray-400;
    @apply dark:text-gray-500;
  }

  .form-input.cont .form-input {
    @apply border-none bg-transparent shadow-none outline-none ring-0;
  }

  .form-input input {
    @apply w-full rounded-xl !bg-transparent p-3 py-4;
  }

  .form-input:has(input) {
    @apply p-0;
  }

  .form-input:has(> .icon),
  .form-input:has(> .icon + input),
  .form-input:has(> input + .btn) {
    @apply flex items-center pl-3;
  }

  .form-input:has(> .icon) > .icon {
    @apply h-6 w-6;
  }

  .form-input:not(:has(> .btn.ghost)):has(> .btn) {
    @apply rounded-2xl pr-2;
  }

  .form-input > input {
    @apply w-full border-none bg-transparent p-3 px-2 focus:outline-none focus:ring-0;
  }

  .form-input:has(~ .form-error) > .icon {
    @apply text-red-600 dark:text-red-300;
  }

  .form-error {
    @apply text-xs text-red-600 dark:text-red-300;
  }

  .form-info {
    @apply flex gap-1 items-center text-sm text-gray-400 dark:text-gray-500;
  }

  .divider {
    @apply h-4 w-0.5 rounded-full bg-gray-200 dark:bg-gray-700;
  }

  .card {
    @apply rounded-xl border-gray-100 p-4 border-1 ring-1 ring-offset-4 ring-offset-gray-200 ring-gray-300 bg-white;
    @apply dark:border-gray-700 dark:ring-gray-800 dark:bg-gray-800 dark:ring-offset-gray-900;
    @apply hover:ring-gray-300 hover:bg-gray-50 dark:hover:bg-gray-800;
    @apply transition-all;
  }

  .site-header {
    @apply sticky top-0 z-50 flex items-center justify-between bg-white px-4 py-3 shadow-sm shadow-gray-200 dark:bg-gray-900 dark:shadow-gray-700;
  }

  .site-header .wrapper {
    @apply w-full flex items-center gap-4 justify-between mx-auto max-w-5xl;
  }

  .user-btn {
    @apply flex items-center gap-2;
  }

  .user-btn .img-cont {
    @apply text-sm flex items-center gap-2 text-gray-400 dark:text-gray-500;
  }

  .user-btn .img-cont img {
    @apply rounded-full shadow border border-gray-200 dark:border-gray-700;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
